@if (isAddingTask && selectedUser) {
<new-task (onClose)="toggleDialog()" [userId]="selectedUser.id"></new-task>
}
<section>
  <div class="task-users">
    @for (user of getUsers(); track user.id) {
    <task-user
      [user]="user"
      [isSelected]="selectedUser?.id === user.id"
      (onClick)="onUserSelect($event)"
    />
    }
  </div>
  @if (selectedUser) {
  <div class="task-container">
    <div class="task-title">
      <h2>{{ selectedUser!.name }}'s Tasks</h2>
      <button (click)="toggleDialog()">Add task</button>
    </div>
    <ul>
      @for (task of getTasks(); track task.id) {
      <task [task]="task" />
      }
    </ul>
  </div>
  } @else {
  <h2 class="task-empty-string">Select a user to see their tasks</h2>
  }
</section>
