.back-drop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.529);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  width: 90%;
  max-width: 30rem;
  background-color: #2f233f;
  border-radius: 8px;
  padding: 1.5rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2 {
  color: #c7b6da;
  font-weight: 900;
  margin: 0;
}
label {
  color: #c7b6da;
  font-weight: 800;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}
input {
  all: unset;
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: black;
  border-radius: 4px;
  &:hover,
  &:focus {
    outline: 2px solid #8c61c3;
  }
}

textarea {
  all: unset;
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: black;
  resize: none;
  border-radius: 4px;
  &:hover,
  &:focus {
    outline: 2px solid #8c61c3;
  }
}
button {
  all: unset;
  min-width: 60px;
  text-align: center;
  background-color: #8c61c3;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #9674c4;
    cursor: pointer;
  }
  &.cancel-button {
    background-color: transparent;
    &:hover {
      background-color: #b5aac34d;
    }
  }
}

.actions {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}
