<div class="back-drop">
  <dialog open>
    <h2>Add task</h2>

    <form [formGroup]="form" (submit)="onFormSubmit($event)">
      <label for="title">Title</label>
      <input formControlName="title" type="text" id="title" />
      <form-warning [form]="form" [controlName]="'title'" [messages]="formMessages" />

      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>

      <label for="dueDate">Due Date</label>
      <input formControlName="dueDate" type="datetime-local" id="dueDate" />
      <form-warning [form]="form" [controlName]="'dueDate'" [messages]="formMessages" />

      <div class="actions">
        <button type="button" class="cancel-button" (click)="close()">Cancel</button>
        <button type="submit" class="submit-button">Add Task</button>
      </div>
    </form>
  </dialog>
</div>
