body {
  background-color: #04001d;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eee;
}
